@page "/"
@inject NavigationManager NavMgr

<PageTitle>Home</PageTitle>

<h1>BlazorApp 1.8.2</h1>

<AuthorizeView>
    <Authorized>
        <h3>Hello, @context.User.Identity?.Name</h3>
    </Authorized>
    <NotAuthorized>
        <p>You are not logged in!</p>
    </NotAuthorized>
</AuthorizeView>

<p>Here you can browse interesting posts.</p>
<button @onclick='() => NavMgr.NavigateTo("/login")'>Go to Login</button>