@page "/posts"
@using ApiContracts.DTO_Post
@using BlazorApp.Services.PostService
@rendermode InteractiveServer
@inject IPostService PostService

<h3>Create Post</h3>

<EditForm Model="newPost" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div>
        <label>Title:</label>
        <InputText @bind-Value="newPost.Title" />
    </div>

    <div>
        <label>Body:</label>
        <InputTextArea @bind-Value="newPost.Body" />
    </div>

    <button @onclick="HandleValidSubmit">Add Post</button>
</EditForm>

@code {
    private CreatePostDto newPost = new()
    {
        Title = null,
        Body = null,
        AuthorId = 1
    };

    private async Task HandleValidSubmit()
    {
        await PostService.CreatePostAsync(newPost);
  
    }
}